* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Fondo */

#portada {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, red, blue, rgb(0, 247, 255), rgb(253, 249, 138), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 20s ease-in-out infinite;
}

.portada h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    border: solid 3px #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


/* Login */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #22BAE8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #000000;
    padding: 10px;
    text-align: center;
}

.login_container:hover button {
    background-color: #07EFF9;
    color: #000000;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #116079;
    color: #07EFF9;
}

.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #116079;
    color: #07EFF9;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #07EFF9;
}


/* Clases */

.recuadro {
    width: 100%;
    height: 100%;
    background-color: #116079;
    position: relative;
    border-radius: 30px;
    padding: 3vw;
}


/* Paddings */

.padding-3 {
    padding: 6vw;
    width: 100%;
}


/* Tablas */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent;
}


/* Imagenes */

.imagen-edit-borr {
    width: 1vw;
}


/* Colores */

.color-act a {
    color: #000000;
}