* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}


/* Fondo */

#portada {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, red, blue, rgb(0, 247, 255), rgb(253, 249, 138), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 20s ease-in-out infinite;
}

.portada h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    border: solid 3px #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


/* Login */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #22BAE8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #000000;
    padding: 10px;
    text-align: center;
}

.login_container:hover button {
    background-color: #07EFF9;
    color: #000000;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #116079;
    color: #07EFF9;
}

.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #116079;
    color: #07EFF9;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #07EFF9;
}


/* Clases */

.recuadro {
    width: 100%;
    height: 80vh;
    background-color: #116079;
    position: relative;
    border-radius: 30px;
    padding: 3vw;
}

.recuadro-alu {
    margin-left: 25%;
    width: 40%;
    height: 100%;
    background-color: #116079;
    position: center;
    border-radius: 30px;
    padding: 2vw;
}


/* Paddings */

.padding-2 {
    padding: 3vw;
    width: 60%;
}

.padding-3 {
    padding: 6vw;
    width: 100%;
}

.padding-right {
    padding-right: 2vw;
}

.padding-right2 {
    padding-right: 0.5vw;
}

.posicion-search {
    padding-left: 3vw;
}


/* Tablas */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent;
}


/* Imagenes */

.imagen-edit-borr {
    width: 1vw;
}

.imagen-logo {
    width: 6vw;
}

.plus {
    padding-left: 1vw;
}

.plus a i {
    width: 25px;
    height: 25px;
}


/* Colores */

.color-act a {
    color: #000000;
}


/* Imagen se hace mas grande */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Search */

.container-4 {
    overflow: hidden;
    width: 20vw;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 20vw;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover {
    background: white;
}


/* Boton file */

button:hover {
    opacity: 1;
}


/* Float cancel and delete buttons and add an equal width */

.cancelbtn,
.deletebtn {
    float: left;
    width: 50%;
}


/* Add a color to the cancel button */

.cancelbtn {
    background-color: #ccc;
    color: black;
}


/* Add a color to the delete button */

.deletebtn {
    background-color: #f44336;
}


/* Add padding and center-align text to the container */

.container {
    padding: 16px;
    text-align: center;
}


/* The Modal (background) */

.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9);
    /* padding-top: 50px; */
}


/* Modal Content/Box */

.modal-content2 {
    background-color: #f39c12;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%;
    /* height: 30vw; */
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Modal Close Button (x) */

.close2 {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close2:hover,
.close2:focus {
    color: #f44336;
    cursor: pointer;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.modal-content2 {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}


/* Estilo del 치rea del input[file] */

.drag-drop {
    height: 8em;
    width: 8em;
    background-color: #ccc;
    border-radius: 4em;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto 1em;
}

.drag-drop span.desc {
    display: block;
    font-size: .7em;
    padding: 0 .5em;
    color: #000;
}

input[type="file"] {
    height: 10em;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
}


/* Estilo del 치rea del input[file] con :hover */

.drag-drop:hover,
input[type="file"]:hover {
    background-color: #3276b1;
    cursor: pointer;
}

.drag-drop:hover span.desc {
    color: #fff;
}

.drag-drop:hover .pulsating {
    animation: pulse1 1s linear infinite;
    animation-direction: alternate;
    -webkit-animation: pulse1 1s linear infinite;
    -webkit-animation-direction: alternate;
}


/* Composici칩n del icono de Upload con FontAwesome */

.fa-stack {
    margin-top: .5em;
}

.fa-stack .top {
    color: white;
}

.fa-stack .medium {
    color: black;
    text-shadow: 0 0 .25em #666;
}

.fa-stack .bottom {
    color: rgba(225, 225, 225, .75);
}


/* Keyframing de la animaci칩n */

@keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }
    50% {
        color: rgba(225, 225, 225, 0.25);
    }
    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-moz-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }
    50% {
        color: rgba(225, 225, 225, 0.25);
    }
    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-webkit-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }
    50% {
        color: rgba(225, 225, 225, 0.25);
    }
    100% {
        color: rgba(225, 225, 225, .75);
    }
}

@-ms-keyframes pulse1 {
    0% {
        color: rgba(225, 225, 225, .75);
    }
    50% {
        color: rgba(225, 225, 225, 0.25);
    }
}

.oculto {
    display: none;
}

.visible {
    display: inline;
}


/* Change styles for cancel button and delete button on extra small screens */

.nav-link2 {
    display: block;
    padding: 0.5rem 1rem;
    padding-right: 0;
    padding-left: 0;
}

#select {
    width: 28vw;
}

@media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
        width: 100%;
    }
}

@media screen and (max-width: 1600px) {
    .posicion-search {
        padding-left: 4vw;
    }
    table {
        overflow-x: auto;
    }
}

@media screen and (max-width: 990px) {
    .imagen-edit-borr {
        width: 4vw;
    }
    .imagen-logo {
        width: 12vw;
    }
    table {
        display: block;
    }
    /* .posicion-search {
        width: 100%;
    } */
    .container-4 {
        overflow: hidden;
        width: 100%;
        vertical-align: middle;
        white-space: nowrap;
        padding: 0;
    }
    .container-4 input#search {
        width: 100%;
        height: 50px;
        background: #2b303b;
        border: none;
        font-size: 10pt;
        float: left;
        color: #fff;
        padding-left: 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        display: flex;
        text-align: center;
    }
    .recuadro {
        height: 90vh;
        position: relative;
        border-radius: 30px;
        padding: 3vw;
    }
    .plus {
        padding-left: 0;
    }
    .posicion-search {
        padding-left: 0vw;
    }
}


/* @media only screen and (min-width: 600px) {
    html {
        zoom: .8;
    }
}

@media only screen and (min-width: 800px) {
    html {
        zoom: .9;
    }
}

@media only screen and (min-width: 1000px) {
    html {
        zoom: 1;
    }
} */