* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Fondo */

#portada {
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(45deg, red, blue, rgb(0, 247, 255), rgb(253, 249, 138), black);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 20s ease-in-out infinite;
}

.portada h1 {
    font-size: 4vw;
    letter-spacing: 2px;
    border: solid 3px #fff;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem 3rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}


/* Login */

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #60a3bc;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #22BAE8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #000000;
    padding: 10px;
    text-align: center;
}

.login_container:hover button {
    background-color: #07EFF9;
    color: #000000;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #116079;
    color: #07EFF9;
}

.login_btn:focus {
    box-shadow: none;
    outline: 0px;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #116079;
    color: #07EFF9;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
}

.input_user,
.input_pass:focus {
    box-shadow: none;
    outline: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #07EFF9;
}


/* Clases */

.recuadro {
    width: 100%;
    height: 100%;
    background-color: #116079;
    position: relative;
    border-radius: 30px;
    padding: 3vw;
}

.recuadro-alu {
    width: 100%;
    height: 100%;
    background-color: #116079;
    position: center;
    border-radius: 30px;
    padding: 3vw;
}


/* Paddings */

.padding-2 {
    padding: 3vw;
    width: 60%;
}

.padding-3 {
    padding: 6vw;
    width: 100%;
}

.padding-right {
    padding-right: 2vw;
}

.padding-right2 {
    padding-right: 0.5vw;
}

.posicion-search {
    padding-left: 3vw;
}


/* Tablas */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: transparent;
}


/* Imagenes */

.imagen-edit-borr {
    width: 1vw;
}

.imagen-logo {
    width: 6vw;
}

.plus {
    padding-left: 1vw;
}

.plus a i {
    width: 25px;
    height: 25px;
}


/* Colores */

.color-act a {
    color: #000000;
}


/* Imagen se hace mas grande */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}


/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}


/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */

.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* Search */

.container-4 {
    overflow: hidden;
    width: 20vw;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#search {
    width: 20vw;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #fff;
    padding-left: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-4 input#search:-ms-input-placeholder {
    color: #65737e;
}

.container-4 button.icon {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #232833;
    height: 50px;
    width: 50px;
    color: #4f5b66;
    opacity: 0;
    font-size: 10pt;
    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;
}

.container-4:hover button.icon,
.container-4:active button.icon,
.container-4:focus button.icon {
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover {
    background: white;
}

@media screen and (max-width: 1600px) {
    .posicion-search {
        padding-left: 6vw;
    }
    table {
        overflow-x: auto;
    }
}

@media screen and (max-width: 990px) {
    .imagen-edit-borr {
        width: 4vw;
    }
    .imagen-logo {
        width: 12vw;
    }
    table {
        display: block;
    }
    /* .posicion-search {
        width: 100%;
    } */
}